/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}
/* end reset */

:root {
  --highlight-1: rgb(25, 134, 203);
  --highlight-2: rgb(237, 172, 54);
  --main-bg: rgb(255, 255, 255);
  --secondary-bg: rgb(222,228,237);
}

body {
  font-family: Helvetica, Arial, sans-serif;
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 18vh 1fr;
  grid-template-areas: 
    "sidebar header"
    "sidebar main";
}

sidebar {
  padding-left: 1.5rem;
  padding-top: 1rem;
  padding-right: 1rem;
  height: 100%;
  background-color: var(--highlight-1);
  display: grid;
  grid-area: sidebar;
  grid-template-columns: 1fr;
  grid-template-rows: 0.6fr repeat(4, 1fr);
  color: var(--main-bg);
}

.logo {
  margin-top: 0px;
  display: flex;
  flex-wrap: nowrap;
  align-content: top;
  font-size: 1rem;
}
.logo > h1 {
  margin-left: 10px;
  text-justify: center;
  font-size: calc(14px + 1vw);
}
.logo > svg {
  fill: var(--main-bg);
  width: 40px;
  height: 40px;
  margin: 0px;
}
.main-menu, .extra-menu{
  display: grid;
  grid-template-rows: repeat(auto-fit, minmax(20px, 1fr));
  align-items: center;
  gap: 20px;
}

.extra-menu {
  align-self: end;
}

.menu-item {
  display: flex;
  font-size: 1.2rem;
}

.menu-item > svg {
  fill: var(--main-bg);
  display: inline-block;
  width: 25px;
  height: 25px;
  margin: 0px;
}

.menu-item > p {
  margin-left: 20px;
  font-weight: 800;
}

header {
  padding-left: 2rem;
  padding-top: 1rem;
  padding-bottom: 1.5rem;
  padding-right: 2rem;
  grid-area: header;
  background-color: var(--main-bg);
  display: grid;
  justify-items: stretch;
  align-items: center;
  gap: 1rem;
  grid-template-columns: 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  -webkit-box-shadow: 0px 3px 8px 1px rgba(0,0,0,0.2); 
  box-shadow: 0px 3px 8px 1px rgba(0,0,0,0.2);
  position:relative;
}

.action-buttons {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

button {
  border-radius: 20px;
  padding: 5px 20px;
  background-color: var(--highlight-1);
  border: 0px;
  color: var(--main-bg);
  margin: 6px;
}

.search {
  display: flex;
  align-items: center;
  justify-content: start;
}

 svg {
  margin-right: 18px;
  width: 25px;
  height: 25px;
}


input {
  border-radius: 15px;
  height: 1.5rem;
  width: 90%;
  background-color: var(--secondary-bg);
  border: 0px;
}

.profile {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  justify-content: end;
  gap: 1rem;
}

.welcome-msg {
  display: grid;
  grid-template-columns: 80px 1fr;
  grid-template-rows: repeat(2, 1fr);
}

.welcome-msg > h2 {
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  font-size: calc(12px + 0.5vw);
}

.welcome-msg > span {
  grid-row: 1 / 2;
  grid-column: 2 / 3;
  align-self: end;
}

.welcome-msg > img {
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  justify-self: center;
  align-self: center;
  height: 60px;
  width: 60px;
}

img {
  border-radius: 100%;
  background-color: var(--highlight-2);
  height: 35px;
  width: 35px;
  display: inline-block;
}

.main-container {
  grid-area: main;
  display: grid;
  grid-template-columns: 3fr 1fr;
  background-color: var(--secondary-bg);
  grid-template-areas: 
  "projects announcements"
  "projects trending";
  padding: 1rem 2rem;
  column-gap: 0.8rem;
}

.projects {
  grid-area: projects;
  display: flex;
  flex-direction: column;
}

.card-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(auto-fit, minmax(100px, 1fr));
  gap: 1rem;
  justify-items: stretch;
  align-items: stretch;
}

.title {
  font-weight: 800;
}

h3.title {
  margin-bottom: 0.5vh;
  margin-left: 3px;
}

.card {
  background-color: var(--main-bg);
  border-radius: 10px;
  border-left: solid 6px var(--highlight-2);
  padding: 1rem;
  display: grid;
  grid-template-rows: 0.5fr 2.5fr 0.1fr;
}

.card > p {
  align-self: start;
  color: rgb(98, 98, 98);
}

.card > .tile {
  margin-bottom: 0px;
}

.btn-cont{
  align-self: flex-end;
  justify-self: end;
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.btn-cont > * {
  background-color: transparent;
  width: 25px;
}

.announcements-container, .trending-container {
  background-color: var(--main-bg);
  border-radius: 10px;
  padding: 1rem 2rem 1rem 1rem;
  height: 80%;
  display: grid;
  gap: 0.5rem;
}

.announcements-container {
  justify-items: center;
  align-items: center;
}

.trending-container{
  padding-top: 0.5rem;
}

.announce > .title {
  font-size: 0.9rem;
}

.announce > .content {
  font-size: 0.8rem;
  height: 2.5rem;
  width: 100%;
  /* text-wrap: wrap; */
  overflow: hidden;
  text-overflow: ellipsis;
}

.announce:nth-of-type(even) {
  padding: 0.5rem 0rem;
  border-top: 1px solid var(--secondary-bg);
  border-bottom: 1px solid var(--secondary-bg);
}

div.user {
  display: grid;
  column-gap: 10px;
  grid-template-columns: 40px 1fr;
  font-size: 0.8rem;
}

.username {
  font-weight: 600;
  align-self: flex-end;
}

p.project {
  align-self: flex-start;
  color: rgb(98, 98, 98);
}

div > img {
  width: 40px;
  height: 40px;
  grid-column: 1 / 2;
  grid-row: 1 / 3;
  justify-self: center;
  align-self: center;
}


.card:hover {
  box-shadow: 0 4px 5px rgba(0,0,0,0.2);
}

button:hover {
  box-shadow: 0 4px 5px var(--highlight-2);
}

@media screen and (max-width: 800px) {
  .announcements, 
  .trending, .logo > h1, .menu-item > p {
    display: none;
  }

  body {
    grid-template-columns: 0.5fr 4fr;
  }

  sidebar {
    justify-content: center;
    grid-template-columns: 1fr;
  }

  .main-container {
    grid-template-columns: 1fr;
    grid-template-areas: "projects";
  }
}